<mat-toolbar>

    <a href="" id="anchor"><strong>Zomato</strong></a>

    <div id="button">
        <button mat-button  (click)="openlogin() "     *ngIf="!authService.isLoggedStatus" >Log In</button>  
        <button mat-button   (click)="openRegister()"  *ngIf="!authService.isLoggedStatus" >Register</button>
    </div>

    <div id=" profile">

 

      <button mat-button [matMenuTriggerFor]="profile"   *ngIf="authService.isLoggedStatus" >{{userName}}</button>  
  
      <mat-button-toggle-group id="category" color="accent" name="favoriteColor" >
          <mat-menu #profile="matMenu">
              <mat-button-toggle class="raised-Button"   routerLink="/favorite" >Favorite</mat-button-toggle> 
              <mat-button-toggle class="raised-Button"  *ngIf="authService.isLoggedStatus" (click)="logout()">Log Out </mat-button-toggle>        
          </mat-menu>

      </mat-button-toggle-group>   

     <!-- <p>{{authService.isLoggedStatus}}</p> -->
              
   </div>


</mat-toolbar>