.img{
    width: 30px;
    display: flex;
   
   max-height: 10%;
   height: 30px;
   margin-left: 65em;
   
}

.footer{
    margin-top: 20%;
    background-color: rgba(227,55,68,255);
    display: flex;
    align-items: center;
    flex-direction: column ;
}


