<div class="container-two">

   

      <div class="container">

         <h1 id="heading"><strong> Sign Up</strong> </h1>

         <form class="form"  [formGroup]="profileForm" >

            <mat-form-field appearance="outline">
               <mat-label>Full Name</mat-label> 
               <input matInput type="text" placeholder="Full Name" formControlName="userName">
               <mat-error *ngIf="userName?.errors?.['required']">
                     Name is required
               </mat-error>
               <mat-error *ngIf="userName?.errors?.['pattern']">
                     Name cannot be a number
               </mat-error>
            </mat-form-field>
            
      
            <mat-form-field appearance="outline">
               <mat-label>Email </mat-label>
               <input matInput type="email" placeholder="Email" formControlName="userEmail">
               <mat-error *ngIf="userEmail?.errors?.['required']">
                  Email is required
               </mat-error>
               <mat-error *ngIf="userEmail?.errors?.['pattern']">
                  Enter a valid emailId
               </mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
               <mat-label>Password </mat-label>
               <input matInput type="password" placeholder="Password" formControlName="userPassword">
               <mat-error *ngIf="userPassword?.errors?.['required']">
                  Password is required
               </mat-error>
               <mat-error *ngIf="userPassword?.errors?.['pattern']">
                  Enter a valid Password
               </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
               <mat-label>Phone No </mat-label>
               <input matInput type="text" placeholder="Phone No" formControlName="userPhoneNo">
               <mat-error *ngIf="userPhoneNo?.errors?.['required']">
                  Phone No is required
               </mat-error>
               <mat-error *ngIf="userPhoneNo?.errors?.['pattern']">
                  Enter a valid Phone No
               </mat-error>
            </mat-form-field>

            <mat-form-field>
               <input type="file" (change)="onFileSelected($event)" >
               <button type="submit" (click)="onUpload()" > Upload</button>
            </mat-form-field>
      
            <div class="example-button-row" >
               <button class="sub" mat-raised-button [disabled]="!profileForm.valid"  (click)="onSubmit()" matDialogClose  >Submit</button>
             </div> 

             <p> If you are already a user <a (click)="openlogin()" matDialogClose>Click here to Login</a></p>
      
          </form>
      </div>

    

  
    

</div>
      